body {
	height: 100vh;
	margin: 0px;
	display: flex;
	flex-direction: column;
	font-family: Roboto;
}

.header {
	background-color: #1f2937;
	padding: 16px 128px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header .logo {
	color: #f9faf8;
	font-size: 24px;
	margin: 0px;
	padding: 0px;
}

.header ul {
	display: flex;
	column-gap: 32px;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.header ul a {
	text-decoration: none;
	color: #e5e7eb;
	font-size: 18px;
}

.header, .section, .footer {
	flex: 0;
} 

.section-one {
	background-color: #1f2937;
	display: flex;
	justify-content: center;
	column-gap: 32px;
	padding: 100px 0px;
	
}

.section-one .content {
	max-width: 400px;
}

.section-one .content .title {
	color: #f9faf8;
	font-size: 48px;
	font-weight: 900;
	margin: 0px;
}

.section-one .content .text {
	color: #f9faf8;
	margin: 0px;
}

.section-one .content .button {
	background-color: #3882f6;
	color: #f9faf8;
	padding: 8px 32px;
	margin-top: 8px;
	border-radius: 8px;
	border: none;
}

.section-one .img {
	background-color: grey;
	width: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.section-one .img p {
	color: #f9faf8;
	/* margin: auto 0px; */
}

.section-two {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 32px 0px;
}

.section-two .cards {
	max-width: 700px;
	display: flex;
}

.section-two .cards .box {
	width: 150px;
	height: 150px;
	border: solid #3882f6;
	border-radius: 16px;
}

.section-three {
	background-color: #e5e7eb;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section-three .box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section-three .quote {
	color: #1f2937;
	font-style: italic;
	font-weight: 100;
	font-size: 36px;
	max-width: 800px;
}

.section-three .author {
	color: #1f2937;
	align-self: flex-end;
	font-weight: 900;
}

.section-four {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 64px 0px;
}

.section-four .blue-box {
	background-color: #3882f6;
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 64px;
	border-radius: 8px;
	padding: 32px 64px;
}

.section-four .blue-box .content .title {
	color: #f9faf8;
	margin: 0px;
	padding: 0px;
}

.section-four .blue-box .content .text {
	color: #f9faf8;
	margin: 0px;
	padding: 0px;
}

.section-four .blue-box .button {
	background-color: #3882f6;
	color: #f9faf8;
	border-radius: 8px;
	padding: 4px 16px;
	border: solid #f9faf8;
}

.footer {
	background-color: #1f2937;
	color: #f9faf8;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px 0px;
}
